---
layout: default
---
<div class="mdl-grid center-items">
    <div class="mdl-cell mdl-cell--12-col"><p>These writing samples combine content I authored years ago + tools I currently use. Click each card to know more.</p><p>I'm in the process of adding the following samples: API reference guides, tutorials, how-to, info-architecture mindmaps, and infographics. What other examples would you like to see here? Ping me!</p>
</div>
</div>

{% assign posts = site.projects | sort: 'order' | reverse %}
{% for post in posts %}
{% if post.show == true %}
<div class="mdl-cell mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title text-card-top">
        <div class="text-card-title">{{ post.title }}</div>
    </div>

    <div class="mdl-card__supporting-text flex-column no-top-padding">
        <div class="portfolio-description">

            {{ post.excerpt }}

        </div>
        <div class="flex-center flex-wrap">
            {% for tag in post.tags %}
                {% include chip.html name=tag %}
            {% endfor %}
        </div>
    </div>

    {% if post.link %}
        <div class="mdl-card__actions mdl-card--border center-text">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href={{ post.link }}>
                {% if post.link_name == "Github" %}
                    <i class="fa fa-github icon-button icon-margin" aria-hidden="true"></i>
                {% else %}
                    {{ post.link_name }}
                {% endif %}
            </a>
        </div>
    {% endif %}
</div>
{% endif %}
{% endfor %}